<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 p-4">
      <accordion>
        <ng-container *ngFor="let service of currentServices">
          <app-assist-accordion [item]="service" (selectedService)="serviceFromAccordion($event)">
            <div class="title">
              {{service.name}}
            </div>
            <div class="body">
              <div class="d-flex flex-row mb-2">
                {{service.description}}
              </div>              
            </div>
          </app-assist-accordion>
        </ng-container>
      </accordion>
    </div>
    <div class="col-lg-6 col-sm-12 p-4 text-right">
      <img src="../../../assets/asistencia/img/mockup-cel.png" height="350" />
    </div>
  </div>
</div>