<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 p-4">
      <accordion>
        <app-assist-accordion>
          <div class="title">
            Incubus
          </div>
          <div class="body">
            11AM
          </div>
        </app-assist-accordion>
        <app-assist-accordion>
          <div class="title">
            Los Pericos
          </div>
          <div class="body">
            Complicado y aturdido
          </div>
        </app-assist-accordion>
      </accordion>
    </div>
    <div class="col-lg-6 col-sm-12 p-4 text-right">
      <img src="../../../assets/asistencia/img/mockup-cel.png" height="350" />
    </div>
  </div>
</div>
