<div class="container mt-5 mb-5 p-4">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h2 class="text-center my-5">En 3 sencillos pasos <strong>solucionamos tu problema</strong> </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-12 p-3 text-center">
      <img src="../../../assets/asistencia/iconos/paso1-info-color-02.svg" class="steps-icon" />
      <h3><span class="badge badge-secondary">1</span></h3>
      <p class="lead">
        Consulta la información de tu solución, condiciones y valores. Llamando al callcenter o agendando tu visita por el formulario
        de contacto.
      </p>
    </div>
    <div class="col-lg-4 col-sm-12 p-3 text-center">
      <img src="../../../assets/asistencia/iconos/paso2-pago-color-02.svg" class="steps-icon" />
      <h3><span class="badge badge-secondary">2</span></h3>
      <p class="lead">
        Paga online tu servicio a costo preferencia.
      </p>
    </div>
    <div class="col-lg-4 col-sm-12 p-3 text-center">
      <img src="../../../assets/asistencia/iconos/paso3-cordinar-color-02.svg" class="steps-icon" />
      <h3><span class="badge badge-secondary">3</span></h3>
      <p class="lead">
        Coordina la atención de tu asistencia, para el día y hora que más te acomode.
      </p>
    </div>
  </div>
</div>