<footer class="footer-bs d-flex flex-column">

  <div class="container-fluid d-none d-sm-block py-4">
    <div class="row">

      <div class="col-md-4 footer-brand">
        <img src="../../../assets/asistencia/logos/logo_AsistenciaAhora_color.svg" class="logo-footer">
        <br>
        <p class="mt-2">Copyright 2018 Asistencia Ahora Chile ®</p>
      </div>

      <div class="col-md-2">
        <h5>Mapa del Sitio</h5>
        <ul class="list-unstyled">
          <li><button class="btn btn-link text-black-50" [ngx-scroll-to]="'#inicio'">Inicio</button></li>
          <li><button class="btn btn-link text-black-50" [ngx-scroll-to]="'#quienes-somos'">Quiénes Somos</button></li>
          <li><button class="btn btn-link text-black-50" [ngx-scroll-to]="'#como-funciona'">Cómo Funciona</button></li>
          <li><button class="btn btn-link text-black-50" [ngx-scroll-to]="'#servicios'">Servicios</button></li>
          <li><button class="btn btn-link text-black-50" [ngx-scroll-to]="'#inicio'">Contacto</button></li>
        </ul>
      </div>

      <div class="col-md-2 text-center footer-webpay">
        <img src="../../../assets/asistencia/img/webpay.png" class="logo-footer">
      </div>

      <div class="col-md-2 footer-social">
        <h5>Síguenos en Nuestras RRSS</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/asistenciaahoracl/" target="blank" class="text-black-50">Facebook</a></li>
          <li><a href="https://www.instagram.com/asistenciaahoracl" target="blank" class="text-black-50">Instagram</a></li>
        </ul>
      </div>

      <div class="col-md-2 footer-contacto">
        <h5>Contacto</h5>
        <ul class="list">
          <li><a href="tel:6003652020">600 365 2020</a></li>
          <li><a href="tel:+56226549350">2 2654 9350</a></li>
          <li><a href="mailto:contacto@asistenciaahora.cl">contacto@asistenciaahora.cl</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-mobile .d-none .d-xs-block .d-md-none mt-auto">
    <div class="row">
      <div class="col-sm-12 text-center text-white">
        <h4 class="ml-4 llamanos"><a href="tel:6003652020" class="text-white">Llámanos <img src="../../../assets/asistencia/iconos/icono-llamar-blanco-02.svg"
              height="45" /> 600 365 2020</a></h4>
      </div>
    </div>
  </div>
</footer>
