<footer class="footer-bs d-none d-sm-block">
  <div class="row">

    <div class="col-md-4 footer-brand">
      <p><img src="../../../assets/asistencia/logos/logo_AsistenciaAhora_color.svg" class="logo-footer"></p>
      <br>
      <p class="copyright"> Copyright 2018 Asistencia Ahora Chile ®</p>
    </div>

    <div class="col-md-2 footer-nav">
      <h5 class="">Mapa del Sitio</h5>
      <div class="col-md-12">
        <ul class="list">
          <li><a [ngx-scroll-to]="'#inicio'">Inicio</a></li>
          <li><a [ngx-scroll-to]="'#quienes-somos'">Quiénes Somos</a></li>
          <li><a [ngx-scroll-to]="'#como-funciona'">Cómo Funciona</a></li>
          <li><a [ngx-scroll-to]="'#servicios'">Servicios</a></li>
          <li><a [ngx-scroll-to]="'#inicio'">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="col-md-2 text-center footer-webpay">
      <p><img src="../../../assets/asistencia/img/webpay.png" class="logo-footer"></p>
    </div>

    <div class="col-md-2 footer-social">
      <h5>Síguenos en Nuestras RRSS</h5>
      <ul class="list">
        <li><a href="https://www.facebook.com/asistenciaahoracl/" target="blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/asistenciaahoracl" target="blank">Instagram</a></li>
      </ul>
    </div>

    <div class="col-md-2 footer-contacto">
      <h5>Contacto</h5>
      <ul class="list">
          <li><a href="tel:6003652020">600 365 2020</a></li>
          <li><a href="tel:+56226549350">2 2654 9350</a></li>
          <li><a href="mailto:contacto@asistenciaahora.cl">contacto@asistenciaahora.cl</a></li>
        </ul>
    </div>
  </div>
</footer>

<!-- <footer class="footer-mobile .d-none .d-xs-block .d-md-none text-center">
<div class="row">
  <div class="col-sm-12">
      <h4 class="ml-4 llamanos"><a href="tel:6003652020" class="text-white">Llámanos <img src="../../../assets/asistencia/iconos/icono-llamar-blanco-02.svg" height="45" /> 600 365 2020</a></h4>
  </div>
</div>
</footer> -->
