<accordion-group (isOpenChange)="logOpen($event)" [panelClass]="customClass">
  <button class="btn btn-link btn-block clearfix text-white m-0 p-0 text-uppercase" accordion-heading>
    <div class="d-flex">
      <div class="mr-auto">
        <ng-content select=".title"></ng-content>
      </div>
      <div class="plus-minus">
        <i class="fa" [ngClass]="{'fa-plus-circle':!isOpen, 'fa-minus-circle': isOpen}"></i>
      </div>
    </div>
  </button>
  <ng-content select=".body"></ng-content>

  <div class="d-flex flex-row mb-2 justify-content-end">
    <button type="button" class="btn btn-primary" (click)="selectService()"><i class="fa fa-check-square-o"></i>
      SELECCIONAR</button>
    <button type="button" class="btn btn-primary ml-2"><i class="fa fa-phone"></i> LLAMAR</button>
  </div>
</accordion-group>
