<div class="container py-4">
  <div class="row">
    <div class="col-lg-12 text-center text-white">
      <h1 class="mb-4">¿CUÁL ES TU EMERGENCIA?</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-6 col-lg-2 p-3">
      <img class="img-fluid" src="../../../assets/asistencia/new-section/icon-cerrajeria.svg" >
    </div>
    <div class="col-6 col-lg-2 p-3">
      <img class="img-fluid" src="../../../assets/asistencia/new-section/icon-electricidad.svg" >
    </div>
    <div class="col-6 col-lg-2 p-3">
      <img class="img-fluid" src="../../../assets/asistencia/new-section/icon-plomeria.svg" >
    </div>
    <div class="col-6 col-lg-2 p-3">
      <img class="img-fluid" src="../../../assets/asistencia/new-section/icon-ruta.svg" >
    </div>
    <div class="col-6 col-lg-2 p-3 d-none d-sm-block">
      <img class="img-fluid" src="../../../assets/asistencia/new-section/icon-viaje.svg" >
    </div>
  </div>
</div>
