$asistencia-red: #fb4343;
.navbar{
    // min-height: 80px;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
}

.bg-asistencia {
    background-color: $asistencia-red !important;
}

.asistencia-logo {
    height: 60px;
}

// .llamanos{
//     position: relative;
//     display: inline;
// }
