<nav class="navbar navbar-expand-lg navbar-dark bg-asistencia fixed-top">
  <!-- <a href="/" class="navbar-brand">Asistencia Ahora</a> -->
  <img src="../../../assets/asistencia/logos/logo_AsistenciaAhora_blanco.svg" class="asistencia-logo" />

  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon text-white"></span>
  </button>

  <!-- <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-stretch" id="navbar7"> -->
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbar7">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-link nav-link" [ngx-scroll-to]="'#inicio'">Inicio</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" [ngx-scroll-to]="'#quienes-somos'">Quiénes Somos</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" [ngx-scroll-to]="'#como-funciona'">Cómo Funciona</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link nav-link" [ngx-scroll-to]="'#servicios'">Servicios</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item d-none d-sm-block">
        <app-llamanos-holder></app-llamanos-holder>
      </li>
    </ul>

  </div>
</nav>
