@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';


// ngx-toastr
@import '~ngx-toastr/toastr.css';

$asistencia-red: #fb4343;

.full-content {
  width: 100%;
}


.asistencia-common-box {
  background-color: #e6e6e6;
  margin-top: 2.5em;
}

.asistencia-brand-text {
  color: $asistencia-red;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
}

/* Accordion-group style
-------------------------------------------------- */
.assistAccordionGroup {
  border-radius: 0px;
  border: solid 1px white;
  margin-bottom: 1rem;
  background-color: $asistencia-red;
  color: black;

  .card-body {
    background-color: #f2f2f2;
  }

  .title{
    font-weight: 600;
  }

  .btn-primary{
    color: white;
    background-color: lightgrey;
    border-color: lightgrey;
  }

  .btn-primary:hover{
background-color: #fb4343;
border-color: #fb4343;
  }
}
