.jumbo-container {
  background-color: white;

}

$asistencia-gris-oscuro: #e6e6e6;

.steps-container {
  background-color: #f2f2f2;
}

@media all and (max-width: 1200px) {
  .jumbo-container {
    min-height: 500px !important;
    background-color: white;
  }
}

