<section class="full-content jumbo-container" id="inicio">

  <app-floating-form class="d-none d-sm-block py-4"></app-floating-form>

  <div class="d-none d-sm-block py-4" id="vegas" #vegas>
    <!-- <app-jumbotron class="my-4"></app-jumbotron> -->
  </div>

  <div class="d-block d-sm-none">
    <div class="container"">
      <div class="row">
        <div class="col-sm-12 p-4 asistencia-common-box">
          <h2>Agenda nuestra visita</h2>
          <p class="lead">Programa cuando quieras el servicio que necesitas.</p>
          <app-contact-form></app-contact-form>
        </div>
      </div>
    </div>

</section>

<section class="full-content emergency-container" id="emergency">
  <app-emergency></app-emergency>
</section>

<section class="full-content video-popper-container py-4" id="quienes-somos">
  <app-video-popper></app-video-popper>
</section>

<section class="full-content steps-container py-4" id="como-funciona">
  <app-assist-steps></app-assist-steps>
</section>

<section class="full-content services-container py-4" id="servicios">
  <app-assist-services (selectedService)="serviceFromSection($event)"></app-assist-services>
</section>
